node_modules
dist
out
.DS_Store
.eslintcache

# ide
.idea

# log
*.log*

# env
.env

# media files
**/*.mp4
**/*.mov
**/*.avi
**/*.webm
**/*.mkv
**/*.flv
**/*.png
**/*.jpg
**/*.jpeg
**/*.webp
**/*.bmp
**/*.tiff
**/*.gif
**/*.heic
**/*.heif

