# npm 包主仓库镜像
registry=https://registry.npmmirror.com

# Electron 二进制镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# better-sqlite3 二进制镜像（如果 npmmirror 没有，可以保持默认；下面会给出备用手段）
# 有些 native 模块通过该变量指定镜像，可先加上
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/

# pnpm 依赖提升（扁平化）
hoist=true
