@tailwind utilities;


@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-muted-foreground) transparent;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-muted-foreground);
    border-radius: 3px;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}


@layer base {
  * {
    @apply border-border scrollbar-thin;
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }

  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: none;
  }
}
